{% extends "layouts/base.html.twig" %}

{% block titre %}
Inscription
{% endblock %}

{% block main %}
    <h1 class="text-center" >Inscription</h1>
    <div class="col-6 offset-3 mt-4">
        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
            {{ form_row(registrationForm.agreeTerms) }}
    
            <button type="submit" class="btn btn-primary">Register</button>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
